.dashboard-top-content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.dashboard-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.dashboard-cards-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}


.dashboard-cards-cards{
    width: 280px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.774);
    background-color: #0077ffcb ;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.dashboard-top-graph{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.dashboard-top-graph-line{
    width: 760px;
    height: 400px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.815);
}
.dashboard-top-graph-pie{
    width: 490px;
    height: 400px;
    background-color: #0077ffcb;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.815);
}

.dashboard-top-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dashboard-sales-stats-content{
    margin-top: 30px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 20px;
    box-shadow: 2px 3px 15px black;
    background-color: #0077ffcb ;
}

.dashboard-sales-stats-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-sales-stats-card{
    margin-top: 30px;
    width: 400px;
    min-height: 50vh;
    border-radius: 20px;
    box-shadow: 2px 3px 15px black;
    background-color: #0077ffcb ;
}